@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&family=Roboto:wght@400;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #050505;
  overflow-x: hidden;
}

.font-creepster {
  font-family: 'Creepster', cursive;
}

.font-nosifer {
  font-family: 'Nosifer', cursive;
}

/* Custom scratchy text effect */
.text-scratchy {
    text-shadow: 2px 2px 0px #8ebf42; 
}
